{% extends "base.html" %}
{% set active_page = 'search' %}
{% block page_title%}search{% endblock %}
{% block css_script %}<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}
{% block self_content %}
<div class="d-flex justify-content-center mt-2">
    <form id="search-input" method="post" class="form-inline">
        <input type="text" class="form-control mr-2 mt-2"
        placeholder="{{keyword}}" name="keyword">
        <label class="mr-2 mt-2">@</label>
        <select class="form-control mr-2 mt-2" name="field">
        <option {{ 'selected="selected"' if field == 'All fields' else ''
            }}>All fields</option>
        <option {{ 'selected="selected"' if field == 'Tag' else '' }}>Tag</option>
        <option {{ 'selected="selected"' if field == 'Location' else '' }}>Location</option>
    </select>
        <input type="submit" class="btn mt-2" value="Go" style="background-color: #ffe3ed; color:white;">
    </form>
</div>

<div class="container">
    <div class="card-deck">
        {% set report_num = namespace(cnt=0) %}
        {% for report in reports %}
        {% set report_num.cnt = report_num.cnt + 1 %}
        <div class="card mb-2 mt-2 ml-1 mr-1 " style="max-width:
        13.5em; text-decoration: none;" href="test.html">

            <div class="card-header">{{report.r_title}}
            </div>




            <div class="card-body">
                <div class="image">
                    <img src="{{report.r_url}}" class="card-img-top img-fluid">
                </div>
                <i class="fa fa-user" aria-hidden="true"></i>
                <small class="text-dark" style="line-height: 0em">
                    {{report.r_username}}
                </small>
                <p class="card-text">{{report.r_description}}</p>
                <small class="text-primary" style="line-height: 0em">
                    Tags:
                    {% set tag_num = namespace(c=0) %}
                    {% for tag in report.r_tag_list if tag_num.c < 30 %}
                    {% set tag_num.c = tag_num.c + 1 %}
                        {{tag}};
                    {% endfor %}

                </small>
                <br>
                <small class="text-secondary" style="line-height: 0em">
                    Location:{{report.r_location}}

                </small>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    {{report.r_time}}
                </small>
            </div>
        </div>
        <!--  Ref: https://stackoverflow.com/questions/36430816/bootstrap-4-card-deck-with-number-of-columns-based-on-viewport -->
        {% if report_num.cnt % 2 == 0 %}
            <div class="w-100 d-none d-sm-block d-md-none">
                <!-- wrap every 2 on sm-->
            </div>
        {% endif %}
        {% if report_num.cnt % 3 == 0 %}
            <div class="w-100 d-none d-md-block d-lg-none">
                <!-- wrap every 3 on md-->
            </div>
        {% endif %}
        {% if report_num.cnt % 4 == 0 %}
            <div class="w-100 d-none d-lg-block d-xl-none">
                <!-- wrap every 4 on lg-->
            </div>
        {% endif %}
        {% if report_num.cnt % 5 == 0 %}
            <div class="w-100 d-none d-xl-block">
                <!-- wrap every 5 on xl-->
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
